Repository riverajo/fitness-app: changes, and which lefthook commands are due for each by the changed paths.
All: backend-lint, backend-test, frontend-check, frontend-lint, renovate-check

backend-lint:
  run: golangci-lint run

backend-test:
  run: go test ./...

frontend-check:
  run: npm run check

frontend-lint:
  run: npm run lint

renovate-check:
  run: npx --yes --package renovate renovate-config-validator

chore: update renovate config to use recommended preset
  renovate.json
Due: renovate-check

chore: remove accidental package-lock.json and ignore it
  frontend/.gitignore
  frontend/package-lock.json
Due: none

fix(deps): update all non-major dependencies
  backend/go.mod
  backend/go.sum
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update dependency globals to v17
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update mcr.microsoft.com/devcontainers/go docker tag to v2
  .devcontainer/docker-compose.dev.yml
Due: none

chore(deps): migrate to mongodb driver v2 and fix ci app name
  .forgejo/workflows/ci.yml
  backend/go.mod
  backend/go.sum
  backend/internal/db/mongo.go
  backend/internal/model/user.go
  backend/internal/repository/main_test.go
  backend/internal/repository/mongo_exercise_repository.go
  backend/internal/repository/mongo_exercise_repository_test.go
  backend/internal/repository/mongo_user_repository.go
  backend/internal/repository/mongo_user_repository_test.go
  backend/internal/repository/mongo_workout_repository.go
  backend/internal/repository/mongo_workout_repository_test.go
  backend/internal/seeder/seeder.go
  backend/internal/seeder/seeder_test.go
  backend/tools.go
  frontend/.gitignore
  frontend/playwright.config.ts
Due: backend-lint, backend-test, frontend-check, frontend-lint

fix(deps): update module go.mongodb.org/mongo-driver to v2 (#29)
  backend/go.mod
  backend/go.sum
  backend/internal/repository/mongo_user_repository_test.go
Due: backend-lint, backend-test

chore: update devcontainer image to trixie
  .devcontainer/docker-compose.dev.yml
Due: none

fix(deps): update all non-major dependencies
  backend/go.mod
  backend/go.sum
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update dependency svelte to v5.49.1
  frontend/pnpm-lock.yaml
Due: none

feat: Implement refresh token logic
  backend/go.mod
  backend/go.sum
  backend/graph/generated.go
  backend/graph/model/models_gen.go
  backend/graph/schema.graphqls
  backend/graph/schema.resolvers.go
  backend/graph/schema.resolvers_test.go
  backend/internal/middleware/auth.go
  backend/internal/middleware/auth_test.go
  backend/k6/refresh_token.js
  frontend/src/lib/gql/fragment-masking.ts
  frontend/src/lib/gql/gql.ts
  frontend/src/lib/gql/graphql.ts
  frontend/src/lib/gql/index.ts
Due: backend-lint, backend-test, frontend-check, frontend-lint

chore: ignore generated gql files in prettier and eslint
  frontend/.prettierignore
  frontend/eslint.config.js
Due: frontend-check, frontend-lint

chore(deps): update all non-major dependencies
  frontend/pnpm-lock.yaml
Due: none

feat: Dual Token Authentication (#34)
  backend/go.mod
  backend/go.sum
  backend/graph/resolver.go
  backend/graph/schema.resolvers.go
  backend/graph/schema.resolvers_test.go
  backend/internal/api/auth_handler.go
  backend/internal/middleware/auth.go
  backend/internal/model/refresh_token.go
  backend/internal/repository/mock_refresh_token_repository.go
  backend/internal/repository/mongo_refresh_token_repository.go
  backend/internal/service/token_service.go
  backend/k6/auth_flow.js
  backend/server.go
  frontend/src/lib/client.ts
  frontend/vite.config.ts
Due: backend-lint, backend-test, frontend-check, frontend-lint

Fix Frontend Session Restoration and E2E Tests (#37)
  .forgejo/workflows/ci.yml
  backend/graph/schema.resolvers.go
  backend/server.go
  frontend/e2e/auth.session.test.ts
  frontend/e2e/login_redirect.test.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/stores/authStore.ts
Due: backend-lint, backend-test, frontend-check, frontend-lint

chore(deps): update dependency @types/node to v25.2.0
  frontend/pnpm-lock.yaml
Due: none

refactor(frontend): Migrate Stores to Svelte 5 Runes (#39)
  frontend/src/components/workouts/WorkoutForm.svelte
  frontend/src/lib/client.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/dashboard/+page.svelte
  frontend/src/routes/register/+page.svelte
  frontend/src/routes/workouts/[id]/edit/+page.svelte
  frontend/src/routes/workouts/new/+page.svelte
  frontend/src/state/auth.svelte.test.ts
  frontend/src/state/auth.svelte.ts
  frontend/src/state/workout.svelte.test.ts
  frontend/src/state/workout.svelte.ts
  frontend/src/stores/authStore.ts
  frontend/src/stores/workoutStore.ts
Due: frontend-check, frontend-lint

chore(deps): update module github.com/evilmartians/lefthook/v2 to v2.1.0
  backend/go.mod
  backend/go.sum
Due: none

chore(deps): update dependency svelte to v5.49.2
  frontend/pnpm-lock.yaml
Due: none

docs: establish project documentation system (#41)
  CONTRIBUTING.md
  GEMINI.md
  TESTING.md
  backend/ARCHITECTURE.md
  backend/README.md
  frontend/README.md
Due: none

docs: include testing strategy and readme index
  README.md
  TESTING.md
Due: none

chore(deps): update dependency @types/node to v25.2.1
  frontend/pnpm-lock.yaml
Due: none

chore: migrate to go tool directive and sync gql generation (#45)
  .forgejo/workflows/ci.yml
  Makefile
  backend/go.mod
  backend/graph/schema.resolvers.go
  backend/tools.go
  frontend/.prettierignore
  frontend/src/lib/gql/fragment-masking.ts
  frontend/src/lib/gql/gql.ts
  frontend/src/lib/gql/graphql.ts
  frontend/src/lib/gql/index.ts
Due: backend-lint, backend-test, frontend-check, frontend-lint

refactor(frontend): cleanup workout form (#49)
  frontend/src/components/workouts/WorkoutForm.svelte
  frontend/src/routes/workouts/[id]/edit/+page.svelte
  frontend/src/routes/workouts/new/+page.svelte
Due: frontend-check, frontend-lint

chore(deps): update all non-major dependencies
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update pnpm to v10.29.2
  frontend/package.json
Due: none

chore(deps): update eslint monorepo to v10 (major) (#48)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/workouts/WeightInput.svelte
Due: frontend-check, frontend-lint

chore: exclude actions/upload-artifact from renovate updates
  renovate.json
Due: renovate-check

fix(deps): update all non-major dependencies
  .forgejo/workflows/ci.yml
  Dockerfile
  Dockerfile.backend
  backend/go.mod
  backend/go.sum
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

fix(deps): update go.sum to include missing tools dependencies
  backend/go.sum
Due: none

feat(frontend): offline exercise search (#55)
  frontend/e2e/create_workout.test.ts
  frontend/e2e/edit_workout.test.ts
  frontend/e2e/exercises.test.ts
  frontend/e2e/weight_input.test.ts
  frontend/e2e/workout_details.test.ts
  frontend/e2e/workouts.test.ts
  frontend/src/components/workouts/WorkoutForm.svelte
  frontend/src/lib/gql/gql.ts
  frontend/src/lib/gql/graphql.ts
  frontend/src/routes/exercises/+page.svelte
  frontend/src/state/exercise.svelte.test.ts
  frontend/src/state/exercise.svelte.ts
Due: frontend-check, frontend-lint

chore(config): migrate Renovate config (#57)
  renovate.json
Due: renovate-check

feat(auth): Improve Offline Resilience (#59)
  frontend/src/lib/client.ts
  frontend/src/routes/+layout.svelte
  frontend/src/state/auth.svelte.test.ts
  frontend/src/state/auth.svelte.ts
Due: frontend-check, frontend-lint

Path conditions:
  backend-lint: any of: *.go and ^backend/
  backend-test: any of: *.go and ^backend/
  frontend-check: any of: *.{ts,js,svelte} and ^frontend/
  frontend-lint: any of: *.{ts,js,svelte} and ^frontend/
  renovate-check: any of: renovate.json
