Repository riverajo/fitness-app: changes, and which lefthook commands are due for each by the changed paths.
All: backend-lint, backend-test, frontend-check, frontend-lint, renovate-check

lefthook.yml:

# Lefthook Configuration for Monorepo
# This file handles the context switching between backend and frontend automatically.

pre-commit:
  parallel: true
  commands:
    # Backend Hooks
    # The 'root' property changes the working directory for this command
    backend-lint:
      root: backend/
      run: golangci-lint run
      glob: "*.go"
    backend-test:
      root: backend/
      run: go test ./...
      glob: "*.go"

    # Frontend Hooks
    # Executes npm scripts defined in frontend/package.json
    frontend-check:
      root: frontend/
      run: npm run check
      glob: "*.{ts,js,svelte}"
    frontend-lint:
      root: frontend/
      run: npm run lint
      glob: "*.{ts,js,svelte}"

    # Config Hooks
    renovate-check:
      run: npx --yes --package renovate renovate-config-validator
      glob: "renovate.json"

pre-push:
  commands:
    frontend-e2e:
      root: frontend/
      run: npm run test:e2e
      glob: "*.{ts,js,svelte}"

chore: support pnpm v11 workspace config
  .dockerignore
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

fix(deps): pin esrap to 2.2.11 to resolve Svelte TS compilation error
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

chore: bypass vite 8 type check issue in config
  frontend/vite.config.ts
Due: frontend-check, frontend-lint

chore(deps): update dependency vite to v8
  frontend/package.json
Due: none

chore(deps): update svelte ecosystem for vite 8 compatibility
  frontend/package.json
  frontend/vite.config.ts
Due: frontend-check, frontend-lint

chore: regenerate lockfile for Vite 8 upgrade and Svelte ecosystem under pnpm v11
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update graphqlcodegenerator monorepo
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore: regenerate graphql codegen typescript types and adapt WorkoutForm to use Exercise type
  frontend/src/components/workouts/WorkoutForm.svelte
  frontend/src/lib/gql/graphql.ts
Due: frontend-check, frontend-lint

fix(deps): update dependency graphql to v17
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

fix(deps): update all non-major dependencies
  backend/go.mod
  backend/go.sum
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: none

chore: regenerate backend GraphQL code and run go mod tidy for gqlgen v0.17.92
  backend/go.mod
  backend/go.sum
  backend/graph/generated.go
  backend/graph/schema.resolvers.go
Due: backend-lint, backend-test

fix(deps): update all non-major dependencies
  backend/go.mod
  backend/go.sum
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore: regenerate graphql schema code and configure supportedArchitectures for frontend
  .devcontainer/devcontainer-lock.json
  backend/go.sum
  backend/graph/schema.resolvers.go
  frontend/pnpm-workspace.yaml
Due: backend-lint, backend-test

style: format pnpm-workspace.yaml with Prettier
  frontend/pnpm-workspace.yaml
Due: none

chore: support running agy and fj CLI inside devcontainer natively
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: none

chore: inherit host TERM and COLORTERM for proper CLI styling in devcontainer
  .devcontainer/devcontainer.json
Due: none

fix: set default TERM to xterm-256color inside devcontainer to prevent fallback to monochrome
  .devcontainer/devcontainer.json
Due: none

chore(deps): update dependency typescript to v7
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update dependency vitest-browser-svelte to v3
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update actions/setup-go action to v7
  .forgejo/workflows/ci.yml
Due: none

chore(deps): update actions/setup-node action to v7
  .forgejo/workflows/ci.yml
Due: none

chore(deps): update vitest monorepo to v5
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

fix(deps): update all non-major dependencies
  .forgejo/workflows/ci.yml
  Dockerfile
  Dockerfile.backend
  backend/go.mod
  backend/go.sum
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none
