Repository riverajo/fitness-app: changes, and which lefthook commands are due for each by the changed paths.
All: backend-lint, backend-test, frontend-check, frontend-lint, renovate-check

lefthook.yml:

# Lefthook Configuration for Monorepo
# This file handles the context switching between backend and frontend automatically.

pre-commit:
  parallel: true
  commands:
    # Backend Hooks
    # The 'root' property changes the working directory for this command
    backend-lint:
      root: backend/
      run: golangci-lint run
      glob: "*.go"
    backend-test:
      root: backend/
      run: go test ./...
      glob: "*.go"

    # Frontend Hooks
    # Executes npm scripts defined in frontend/package.json
    frontend-check:
      root: frontend/
      run: npm run check
      glob: "*.{ts,js,svelte}"
    frontend-lint:
      root: frontend/
      run: npm run lint
      glob: "*.{ts,js,svelte}"

    # Config Hooks
    renovate-check:
      run: npx --yes --package renovate renovate-config-validator
      glob: "renovate.json"

pre-push:
  commands:
    frontend-e2e:
      root: frontend/
      run: npm run test:e2e
      glob: "*.{ts,js,svelte}"

chore(deps): update all non-major dependencies
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update all non-major dependencies
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

fix: Enable faro is the inverse of the CI enabled
  backend/server.go
Due: backend-lint, backend-test

chore: Include pnpm-workspace in container for frontend build
  Dockerfile
Due: none

fix(backend): correct Faro Proxy path appending
  backend/internal/middleware/faro.go
  backend/internal/middleware/faro_test.go
Due: backend-lint, backend-test

fix(deps): update all non-major dependencies
  backend/go.mod
  backend/go.sum
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore: regenerate graphql code for PR 63
  backend/go.sum
  backend/graph/generated.go
  backend/graph/schema.resolvers.go
Due: backend-lint, backend-test

chore(deps): update dependency svelte to v5.53.2
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/node to v25.3.3
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update dependency globals to v17.4.0
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update module github.com/evilmartians/lefthook/v2 to v2.1.2
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update all non-major dependencies
  backend/go.mod
  backend/go.sum
Due: none

chore(deps): update dependency graphql to v16.13.1
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/node to v25.3.5
  frontend/pnpm-lock.yaml
Due: none

fix(deps): update all non-major dependencies
  backend/go.mod
  backend/go.sum
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update dependency @sveltejs/vite-plugin-svelte to v7
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update dependency vite to v8
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore: bypass vite 8 type check issue in config
  frontend/vite.config.ts
Due: frontend-check, frontend-lint

chore(deps): update pnpm/action-setup action to v5
  .forgejo/workflows/ci.yml
Due: none

chore(deps): update dependency typescript to v6
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update svelte ecosystem for vite 8 compatibility
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/vite.config.ts
Due: frontend-check, frontend-lint

chore(devcontainer): unify docker-compose files and optimize for rootless podman
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.dev.yml
  .devcontainer/docker-compose.yml
  .gitignore
Due: none

chore: upgrade playwright to 1.61.0 to fix zip processing hang
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

fix(deps): adapt to testcontainers-go docker client updates and fix faro proxy deprecation
  backend/go.mod
  backend/go.sum
  backend/internal/middleware/faro.go
  backend/internal/repository/main_test.go
  backend/internal/seeder/seeder_test.go
Due: backend-lint, backend-test

fix(frontend): override chardet and semver versions to bypass CI supply-chain policy failure
  .devcontainer/devcontainer-lock.json
  .forgejo/workflows/ci.yml
  backend/graph/generated.go
  backend/graph/schema.resolvers.go
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Due: backend-lint, backend-test

fix(e2e): resolve race condition in login redirect test
  frontend/e2e/login_redirect.test.ts
Due: frontend-check, frontend-lint

chore(deps): update ghcr.io/devcontainers/features/node docker tag to v2
  .devcontainer/devcontainer.json
Due: none

chore(deps): update actions/checkout action to v7
  .forgejo/workflows/ci.yml
  .forgejo/workflows/deploy.yml
Due: none

chore(deps): update dependency prettier-plugin-svelte to v4
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore(deps): update pnpm/action-setup action to v6
  .forgejo/workflows/ci.yml
Due: none

chore(deps): update pnpm to v11
  frontend/package.json
Due: none
